.imageButton {
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.backgroundCenter {
    -fx-background-position: center;
}

.backgroundLeft {
    -fx-background-position: 0;
}